body { margin:0px; }

#myCarousel {
    a {
        color: transparent;
        outline: 0 none;
        float: left;
    }
    li {
        list-style: none;
    }
    img { 
        float: left;
    }
    .carousel-inner { 
        position:absolute; 
        padding: 0px; 
        margin-top: 0px;
        .item {
            float: left;
            a {
                display: block;
                .image-data {
                    display: block;
                }
                .featureText {
                    background-color: #000;
                    color: #fff;
                    min-height: 200px;
                    width: 300px;
                    z-index: 100;
                    position: relative;
                    top: -220px;
                    padding: 10px;
                    opacity: 0.6;
                    filter: alpha(opacity=50);
                }
            }
        }
        .current {
            margin:0 auto;
        }
    }
}
.flex-direction-nav {
    position: relative;
    top: 186px;
    width: 28px;
    height: 84px;
    display: block;
    background: url('../images/slider/direction_nav_sprite.png') no-repeat 0 0;
    cursor: pointer;
    z-index: 119;
}
#prev_slide {
    float: left;
    left: 0px;
}
#next_slide {
    background-position: -27px 0;
    float: right;
    right: -129px;
}
.mask {
    position: absolute;
    height: 503px;
    background-color: #fff;
    top: 0px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 100;
    cursor: pointer;
}
#mask-left {
    float: left;
    left: 0px;
}
#mask-right {
    float: right;
    right: 0px;
}
.sliderPag { 
    float: right;
    height: 30px;
    z-index: 999;
    position: relative;
    padding: 0px;
    margin-left: 0px;
    top: 584px;
    right: 100px;
    li {
        list-style: none;
        float: left;
        height: 22px;
        width: 22px;
        margin-right: 8px;
    }
    .slide-jump {
        font-size: 10px;
        display: block;
        float: left;
        padding: 6px 8px 6px 9px;
        margin-right: 4px;
        line-height: 10px;
        background-image: url('../images/slider/pag.png');
        color: #fff;
    }
    .current a {
        background-image: url('../images/slider/pag_current.png');
        color: #000;
    }
}

//Only used to keep nav and pag in the same place
.outer-layer {
    height: 620px;
    overflow: hidden;
}

//IE8 fix, if class exists
.ie8 {
    body {
        overflow-y: scroll;
    }
}